.circle {
    @apply opacity-70 h-20 w-20 flex items-center align-middle rounded-full relative mb-1;
    filter: blur(30px);
}

.timelineImg {
    @apply h-10 w-10 absolute z-10 translate-x-1/2 translate-y-1/2;
}